#include "resource.h"

// Embedded driver binaries
// Place your compiled .sys files in the manager/drivers/ folder
IDR_VULN_SYS      RCDATA  "drivers\\iqvw64e.sys"
IDR_SPOOFER_SYS   RCDATA  "drivers\\HelloWorld.sys"
