#include "resource.h"

// Embedded driver binaries - uncomment after building drivers
// IDR_VULN_SYS      RCDATA  "..\\build\\Release\\iqvw64e.sys"
// IDR_SPOOFER_SYS   RCDATA  "..\\build\\Release\\HelloWorld.sys"
